<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>     
      <h1>Welcome to caring is sharing!</h1>
      <h2>It's time to share our knowledge with others</h2>
    </div>
    <%= image_tag("share.jpg", class: "share") %>
  </body>
</html>